

<div *ngIf="!fileSelected">
    <label class="bg-primary" style="width:150px;
        height:34px;
        cursor:pointer;
        font-weight:normal;
        color:white;
        text-align: center;
        padding-top: 7px;
        border-radius: 5px;">
        Select Import File
      <input type="file" (change)="onChange($event)" style="visibility:hidden;">
</label>


</div>


<div *ngIf="isFileSelected" class="col-sm-8">
  <input type="text" class="form-control" id="number" readonly value="{{file.name}}">
</div>

<!-- <button type="button" class="btn btn-success" [disabled]="!fileSelected" (click)="uploadFile()">Upload File</button> -->
