
<!-- <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th class="col-xs-1">#</th>
              <th class="col-xs-1">Cost Code</th>
              <th class="col-xs-4">Supplier</th>
              <th class="col-xs-2">Original Amount</th>
              <th class="col-xs-2">Variations</th>
              <th class="col-xs-2">Revised Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="#subcontract of listData; #idx=index" (click)="rowClicked(idx)">
              <td class="col-xs-1">{{subcontract.subcontractNumber}}</td>
              <td class="col-xs-1">{{subcontract.costCodeNumber}}</td>
              <td class="col-xs-4">{{subcontract.supplierName}}</td>
              <td class="col-xs-2">{{subcontract.amt_contractOriginal}}</td>
              <td class="col-xs-2">{{subcontract.amt_toDateVariations}}</td>
              <td class="col-xs-2">{{subcontract.amt_contractRevised}}</td>
            </tr>

          </tbody>
</table> -->


<ag-grid-ng2

class="ag-fresh"
style="width:100%; height:800px; margin-bottom:20px;"
[gridOptions]="gridOptions"
[columnDefs]="columnDefs"
[rowData]="listData"

enableColResize
enableSorting
rowSelection="single"
suppressCellSelection
rowHeight="26"
(rowClicked)="onRowClicked($event)">
</ag-grid-ng2>
