<!-- Banner -->

<div class="col-sm-2 bg-primary">
    <h4>{{subcontract.supplierCode}}&nbsp;</h4>
</div>

<div class="col-sm-6 bg-primary">
    <h4>{{subcontract.supplierName}}</h4>
</div>

<div class="col-sm-2 bg-primary">
    <h4>{{subcontract.costCodeNumber}}</h4>
</div>

<div class="col-sm-2 bg-primary">
    <h4>{{subcontract.subcontractNumber}}</h4>
</div>

<!-- Sidebar Nav -->

<div class="col-sm-2">
  <div class="list-group">
  <button type="button" class="list-group-item" (click)="goToSummary()">Summary</button>
  <button type="button" class="list-group-item" (click)="goToDetail()">Details</button>
  <button type="button" class="list-group-item" (click)="goToBankGuarantee()">Security</button>
  <button type="button" class="list-group-item" (click)="goToContractTerms()">Terms</button>
  <button type="button" class="list-group-item" (click)="goToDocuments()">Documents</button>
  <button type="button" class="list-group-item" (click)="goToPage('Scope')">Scope</button>
</div>

</div>

<!-- Main detail area -->
<div class="col-sm-10">


<!--<a [router-link]="['./Summary', {id: 1} ]">Detail</a> -->
  <router-outlet></router-outlet>


</div>

<!-- Footer -->

<div class = "col-sm-10 col-sm-offset-2">
<button class="btn btn-default" (click)="goBackToList()">Cancel</button>
<button class="btn btn-success" (click)="updateSubcontract()">Save Changes</button>
</div>
