<div>

  <!--<p> <a [routerLink]="['../List']">Back to list</a>-->
  <!--<p><a href (click)="back()">Back</a></p>-->


  <table class="table small">
          <tr>
          	<td class="col-sm-4" >Subcontract Number:</td>
              <td class="col-sm-8 fieldData">{{subcontract.subcontractNumber}}</td>
          </tr>
          <tr>
          	<td>Contact name:</td>
              <td >{{subcontract.contact.givenName}}&nbsp;{{subcontract.contact.familyName}}</td>
          </tr>
          <tr>
          	<td>ABN:</td>
              <td>{{subcontract.supplier_abn}}</td> <!--{{supplier.abn}}-->
          </tr>
          <tr>
          	<td>Supplier Code:</td>
              <td>{{subcontract.supplierCode}}</td>
          </tr>

  </table>

  <table class ="table small col-sm-8">
          <tr>
          	<td class="col-sm-4" >Security Type:</td>
              <td class="col-sm-8 fieldData">{{subcontract.security_securityTypeName}}</td>
          </tr>
           <tr>
          	<td>Payment Terms:</td>
              <td >{{subcontract.terms_paymentTerms}}</td>
          </tr>
          <tr>
           <td>Maintenance Period (months):</td>
             <td >{{subcontract.terms_maintenancePeriod}}</td>
         </tr>
    </table>

    <table class="table table-striped small col-sm-12">
        <thead >
          <tr class="info">
                <th colspan="2">Contract</th>
                <th colspan="2">Claims</th>
                <th colspan="2">Retentions</th>

          </tr>
        </thead>
        <tbody>
        <tr>

          <td class="col-sm-2">Value of Works</td>
          <td class="col-sm-2">{{subcontract.amt_contractOriginal}}</td>
          <td class="col-sm-2">Claimed to date</td>
          <td class="col-sm-2">{{subcontract.amt_toDateClaimed}}</td>
          <td class="col-sm-2">Total Retention Taken</td>
          <td class="col-sm-2">{{subcontract.amt_retentionTaken}}</td>
        </tr>

      <tr>

         <td>Total Variations</td>
         <td>{{subcontract.amt_toDateVariations}}</td>
         <td>Approved to date</td>
         <td>{{subcontract.amt_toDateApproved}}</td>
         <td>Total Retention Released</td>
         <td>{{subcontract.amt_retentionReleased}}</td>
        </tr>
        <tr>

           <td>Revised Contract Value</td>
           <td>{{subcontract.amt_contractRevised}}</td>
           <td>&nbsp;</td>
           <td>&nbsp;</td>
           <td>Retention Balance</td>
           <td>{{subcontract.amt_retentionBalance}}</td>
          </tr>
      </tbody>
  		</table>
    </div>
