<div class="container">


    <form *ngIf="active" (ngSubmit)="onSubmit()" #costCodeForm="ngForm" class="form-horizontal">
      <div class="form-group">
        <label for="number" class="col-sm-2 control-label">Cost code number:</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" required [(ngModel)]="model.number" ngControl="number" #number="ngForm">

        <div [hidden]="number.valid || number.pristine" class="alert alert-danger">
          Cost code number is required.
        </div>
        </div>
      </div>

      <div class="form-group">
        <label for="costCodeName" class="col-sm-2 control-label">Cost code title:</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" required [(ngModel)]="model.name"  #name="ngForm">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Cost Code Title is required.
          </div>
        </div>
      </div>

      <div class="form-group">

        <label for="budget" class="col-sm-2 control-label">Budget:</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" [(ngModel)]="model.amt_budgetOriginal_num">
        </div>
      </div>

      <div class="col-sm-8 col-sm-offset-2">
        <button type="button" class="btn btn-primary" (click)="addCostCode()" [disabled]="!costCodeForm.form.valid">Add</button>
        <button type="button" class="btn btn-success" (click)="closeDetail()" >Done</button>
      </div>
    </form>
</div>
