

<div *ngIf='loading'>Loading...</div>

     <div *ngIf="results">
       <p>Results available</p>
<div>
<button (click)="testRouter()">Test</button>
<!--  <a class="btn btn-primary" [router-link]="['/Detail', {id: ''}]" role="button">New Project</a>-->
 </div>

 <table class="ui left aligned striped fixed table">
   <thead>
     <tr>
       <th class="left aligned">Project Name</th>
       <th class="left aligned">Project Number</th>
     </tr>
   <tbody>
     <tr *ngFor="var project of results">
       <td class="left aligned"> <a [routerLink]="['../Detail', {id: project.id}]"> {{project.projectName}}</a></td>
       <td class="left aligned"> {{project.projectNumber}}</td>
     </tr>
   </tbody>


 </table>
       <!--<div class="row">
         <div class="col-sm-6 col-md-4" *ngFor="#t of results">
           <div class="thumbnail">
             <div class="content">
             <a [routerLink]="['../Detail', {id: t.id}]">
               {{t.projectName}}
            </a>
             <p>{{t.projectNumber}}</p>
             </div>
           </div>
         </div>
       </div>
     </div>-->
