<h3>New Projects List</h3>

<div *ng-if='loading'>Loading...</div>
<div *ng-if="results">       
       <div class="row">
         <div class="col-sm-6 col-md-4" *ng-for="#t of results">
           <div class="thumbnail">
             <div class="content">
           <!--  <a [router-link]="['../Detail', {id: t.id}]">-->
             {{t.projectName}}
         <!--  </a> -->
             <p>{{t.projectNumber}}</p>



             </div>
           </div>
         </div>
       </div>
     </div>
