<div class="container">
  <h4>Cash Retention</h4>
  <small>
    <form  class="form-horizontal">
      <div class="form-group">
        <label for="ratePerClaim" class="col-sm-3 control-label" >Rate per claim</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="ratePerClaim" required [(ngModel)]="subcontract.security_retentionRate">
        </div>
      </div>

      <div class="form-group">
        <label for="maximumRetention" class="col-sm-3 control-label" >Maximum Retention</label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="maximumRetention" required [(ngModel)]="subcontract.security_retentionMaxPercent">
        </div>
      </div>


      <div class="form-group">
        <label for="halfRetention" class="col-sm-3 control-label">Half Retention</label>
        <div class="col-sm-2">
          <button type="button" class="btn btn-info">Release</button>
        </div>
      </div>

      <div class="form-group">
        <label for="fullRetention" class="col-sm-3 control-label">Full Retention</label>
        <div class="col-sm-2">
          <button type="button" class="btn btn-info">Release</button>
        </div>
      </div>

    </form>
  </small>

</div>
