<div class="container">
<h4>Bank Guarantee {{subcontract.scntNumber}}</h4>
<small>

  <table class="table">
    <thead>
      <tr>
          <th>Amount</th>
          <th>Received</th>
          <th>Released</th>
          <th>Date Released</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{subcontract.security_bg1Amount}}</td>
        <td>{{subcontract.security_bgReceived}}</td>
        <td>{{subcontract.security_bg1Released}}</td>
        <td>{{subcontract.security_bg1ReleaseDate}}</td>
    </tr>
    <tr>
        <td>{{subcontract.security_bg2Amount}}</td>
        <td>{{subcontract.security_bgReceived}}</td>
        <td>{{subcontract.security_bg2Released}}</td>
        <td>{{subcontract.security_bg2ReleaseDate}}</td>
    </tr>
  </tbody>

  </table>

  <form class='form horizontal'>
    <div class="form-group">
  			<label for="comment" class="col-sm-3 control-label">Notes:</label>
            <div class="col-sm-8">
  				<textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
		</div>


  </form>
</small>

</div>
