
<div class="sidebar-nav">
<nav class="navbar navbar-default" >

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="visible-xs navbar-brand">4CastPro</span>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse sidebar-navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Costing <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['./Cost-Codes']">Cost Codes</a></li>

          <li role="separator" class="divider"></li>
          <li><a [routerLink]="['./Cost-Code-Setup']">Cost Codes Setup</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
      <li><a [routerLink]="['./Subcontracts']">Contract Management</a></li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['./Projects']">Projects</a></li>
          <li><a [routerLink]="['./Users']">Users</a></li>
          <li><a [routerLink]="['./Suppliers']">Suppliers</a></li>

        </ul>
      </li>
    </ul>


  </div><!-- /.navbar-collapse -->

</nav>
</div>
